<% provide(:title, t("contact.title")) %>
<h1><%= t("contact.cheering")%></h1>
<p>
  <%= t("contact.description")%>
  <a><%= link_to t("contact.contactpage"), Settings.urls.contact.contact %></a>.
</p>
